.todo-item {
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
}

.popup {
    border-radius: 4px;
    background-color: white;
    padding: 16px;
    text-align: center;
    width: 120px;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.popup_btns {
    margin-top: 16px;
}

.popup_btn {
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #09a9dc;
    color: wheat;
    border: 1px solid #09a9dc;
    margin: 4px;
    width: 64px;
}

.popup_btn--cancel {
    background-color: transparent;
    color: #09a9dc;
}

.backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}



.counter {
    padding-bottom: 200px;
}